/** Universal **/

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Oxygen', sans-serif;
}

.container {
    max-width: 1220px;
}

.details {
    background: #95e1d3;
    color: #fff;
}


/** HEADER part **/

.header {
    background: url(images/bg-header.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px 0 180px 0;
}

.header ul li a {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    margin-left: 55px;
    padding-bottom: 4px;
}

.header ul li a:hover {
    color: #fce38a;
    border-bottom: 3px solid #fce38a;
}

.hero .hero-content {
    margin: 170px 0 65px 0;
    text-align: center;
}

.hero h2 {
    font-size: 72px;
    font-family: 'Kaushan Script', cursive;
    margin-bottom: 25px;
}

.hero h1 {
    font-size: 150px;
    font-weight: bolder;
    line-height: 140px;
}

.hero .line {
    width: 60px;
    height: 4px;
    background: #fff;
    margin: auto;
    margin-bottom: 55px;
}

.hero .btn-white {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    border: 4px solid #fff;
    padding: 6px 30px;
    text-decoration: none;
}











